<h1>Job Board search results</h1>
   <span class="message"><%= h flash[:notice] %></span>
   <br/><%= link_to "Back to search", "http://apps.facebook.com/job_board", :target => '_top'%> &nbsp;
   <%= link_to "Display jobs on a map", "../map/index", :target => '_top'%><br/>
   <ol>
   <%@jobs_found.each { |job|  %>
   <li class="title">

   <a href="<%= job['url']%>" target="_new"><%= h job['jobtitle']%>, <%= h job['company']%>
   </a>
   </li>
   <div class="description">
   <div class="underline">Location</div>
   <%= h job['city'] %>, <%= h job['country'] %>
   <div class="underline">Description</div>
   <%= job['snippet'] %>
   </div>
   <% } %>
   </ol>
   <br/>
   <span id=indeed_at><a href="http://www.indeed.com/">jobs</a>
   by <a href="http://www.indeed.com/" title="Job Search">
   <img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="job search">
   </a></span>